$def with ()
$var loc: find
$var title: CoMeMa :: Find a Contract
<script type="text/javascript">
$$(function() {

$$('#drillDownModal').hide();

  $$(document).on("click", ".drilldown", function(event) {
  
  var uri = $$(this).attr('href');
  $$.ajax({
    url: '/xhr-getby-uri',
    type: "POST",
    data: {'uri':uri},
  }).done(function(data) {
      console.log(data);
      $$( "#drillDownModal" ).dialog({
      height: 500,
      width: 600,
      modal: true
    });
   });
   event.preventDefault();
 });



function clearComemaResults(){
  $$('#comema-results').empty();
}


$$('#comema-query-form').ajaxForm({ 
        // dataType identifies the expected content type of the server response 
        dataType:  'json',
        error: clearComemaResults,  
        success:   processJson 
    });
    
function processJson(data) { 
    // 'data' is the json object returned from the server 
    clearComemaResults();
    $$('#comema-results').append("<div class='row'><div class='3u'>&nbsp;</div><div class='9u'>"+data.length+" records found</div></div>");
    $$.each(data, function( index, value ) {
    //  var div = "<div class='row'><div class='3u'><header class='third fa fa-file'><a href='/getfile/"+value.uri+" ' target='_blank'><h6>Download</h6></a><header class='third fa fa-info'><a href='"+value.uri+"' class='drilldown'><h6>Detail</h6></a></div><div class='9u' style='text-align:left'><div class='row'>"+value.description+"</div><div class='row'>Effective from "+value.effdate+" until "+value.termdate+". Signed by "+value.signatories+" </div></div></div><hr/>";
      var div = "<div class='row'><div class='12u resultrow' style='text-align:left'><a href='/getfile/"+value.uri+"' target='_blank'>"+value.description+"</a><br/>Signed by "+value.signatories+". Effective from "+value.effdate+" until "+value.termdate+"</div></div>";
      $$('#comema-results').append(div);
    }); 
}

$$('#comema-query-form-submit-button').click(function() {
  $$('#comema-query-form').submit();
});

var availableTags = [
  "effdate:",
  "termdate:",
  "parties:",
  "signatories:",
  "tags:",
  "autorenew:",
  "notice:",
  "description:",
  "relatedto:",
  "AND",
  "OR"];


function split( val ) {
  return val.split( /,\s*/ );
}
function extractLast( term ) {
  return split( term ).pop();
}
$$("#comemaquery")
  // don't navigate away from the field on tab when selecting an item
  .bind( "keydown", function( event ) {
    if ( event.keyCode === $$.ui.keyCode.TAB &&
      $$( this ).data( "ui-autocomplete" ).menu.active ) {
        event.preventDefault();
    }
  }).autocomplete({
    minLength: 0,
    delay:0,
    source: function( request, response ) {
    // delegate back to autocomplete, but extract the last term
    response( $$.ui.autocomplete.filter(
    availableTags, extractLast( request.term ) ) );
    },
    
    focus: function() {
    // prevent value inserted on focus
      return false;
    },
    select: function( event, ui ) {
    var terms = split( this.value );
    // remove the current input
    terms.pop();
    // add the selected item
    terms.push( ui.item.value );
    // add placeholder to get the comma-and-space at the end
    terms.push( "" );
    this.value = terms.join( "" );
    return false;
    }
  });
});


</script>
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style1">
					<div class="inner">
				
						<!-- Feature 1 -->
							<section class="container box-feature1">
              <div class="row">
                <div class="12u">
                <form id="comema-query-form" action="/xhr-json-comema-query" method="post">  
				            <input type="text" id="comemaquery" name="comemaquery" style="width:400px" placeholder="Try something like parties:SUSE or effdate:2014-02*"/><a href="#"
				                class="button tiny fa fa-arrow-circle-o-right" id="comema-query-form-submit-button">Search</a>
                  </form>
				        </div>
				      </div>
				      <div class="row">
				        <div id="comema-results">
				        </div>
				      </div>
							</section>
							
							<div id="drillDownModal" title="A deeper look at the agreement...">
<p>Sorry, not implemented yet</p>
</div>
							

					</div>
				</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
