$def with ()
$var loc: notloggedin
$var title: CoMeMa :: Please Login!
<script type="text/javascript">

$$(document).ready(function()
{
});
</script>
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style1">
					<div class="inner">
				
						<!-- Feature 1 -->
							<section class="container box-feature1">

<div class="row">
<div class="12u">
<h2>You need to login!</h2>
<p>To login, use the link in the navigation bar.</p>
</div>
</div>

<br/><br/><br/>
<br/><br/><br/>



							</section>

					</div>
				</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
