$def with ()
$var loc: ocr
$var title: CoMeMa :: OCR a PDF 
<script type="text/javascript">

$$(document).ready(function()
{
$$("input[type=text], textarea").val("");
$$('#comema-add-metadata-button').attr('disabled','disabled');
var files = [];

function cancelTransaction() {
  // ping server to delete upload?
  // reload the page
  location.reload();
}

$$('#comema-add-metadata-button').click(function() {
  // perhaps check now if the hidden field has been filled
  //$$('#addContract').submit();
});

$$('#addContract').ajaxForm({ 
        dataType:  'json',  
        success:    processJson 
    });
    
function processJson(data) { 
  console.log('entered processJson'); 
}

$$(document).on("click", ".cancel-add-contract", function(event) {
        console.log('cancelling...');
        cancelTransaction();
        event.preventDefault();
    });


$$("input[type=file]").change(function(event) {
  console.log('change event on file field caught');
  $$.each(event.target.files, function(index, file) {
    var reader = new FileReader();
    reader.onload = function(event) { 
      object = {};
      object.filename = file.name;
      object.data = event.target.result;
      files.push(object);
    }; 
    reader.readAsDataURL(file);
  });
});
 
$$("#addFile").submit(function(form) {
  console.log('#addFile submit caught');
  $$.each(files, function(index, file) {
    $$.ajax({url: "/xhr-process-pdf",
          type: 'POST',
          data: {filename: file.filename, data: file.data},
          success: function(response, status, xhr) {
            
            if(response.status === 0){
             
              var cs = "<span style='color:green'>Thank you!</span><br/>"+response.fname+" ("+response.fsize+" bytes) was received and stored (on a secure SUSE internal server). The OCR process may take some time (depending on how many pages etc). You can pick the file up over <a href='/ocr-result.html'>here</a> when it is done, or wait for it to be emailed to you.";
              $$('#form-upload').empty();
              $$('#form-upload').html(cs);
              $$('#sha').val(response.sha256);
              $$('#comema-add-metadata-button').removeAttr("disabled");
            }
            else {
              console.log('drat');
            }
          }
    });     
  });
  files = [];
  form.preventDefault();
});
});
</script>
   <style type="text/css">
    
form.addContract {
	background: transparent;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 20px;
	width: 600px;
}	

form.addContract fieldset {
	border: none;
	margin-bottom: 10px;
}

form.addContract fieldset:last-of-type {
	margin-bottom: 0;
}

form.addContract legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #c0d576;
}

form.addContract ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
form.addContract ol ol li {
	background: none;
	border: none;
	float: left;
}

form.addContract fieldset fieldset label:hover {
	cursor: pointer;
}

form.addContract label {
	float: left;
	font-size: 13px;
	width: 110px;
}
form.addContract fieldset fieldset label {
	background:none no-repeat left 50%;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}

form.addContract input:not([type=radio]),

form.addContract textarea {
	background: #ffffff;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: none;
	padding: 5px;
	width: 400px;
}
form.addContract input:not([type=submit]):focus,
form.addContract textarea:focus {
	background: #eaeaea;
}
form.addContract input[type=radio] {
	float: left;
	margin-right: 5px;
}
    </style>
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style1">
					<div class="inner">
				
						<!-- Feature 1 -->
							<section class="container box-feature1">
                <div class="row">
<div class="3u">&nbsp;</div>
<div class="6u">
<div id="form-upload">
<form id=addFile class="addContract" action='' method='post' enctype="multipart/form-data">
<fieldset>
		<legend>Upload your PDF here</legend>
		<ol>
			<li>
				<label for=contractdoc>Scanned PDF</label>
				<input id=contractdoc name=contractdoc type=file placeholder="Choose the PDF from your filesystem" required autofocus>
			</li>
</fieldset>
<fieldset>
		<button type=submit class="button tiny fa fa-arrow-circle-o-right">Upload PDF</button>
	</fieldset>
</form>
</div>

<form id=addContract class="addContract" action='/xhr-process-add' method='POST'>
<input type="hidden" name="sha" id="sha" value=""/>

</form>
</div>
<div class="3u">
</div>
                </div>
							</section>

					</div>
				</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
