$def with ()
$var loc: start
$var title: CoMeMa :: Contract Metadata Manager
<script type="text/javascript">

$$(document).ready(function()
{
});
</script>
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="main-wrapper-style1">
					<div class="inner">
				
						<!-- Feature 1 -->
							<section class="container box-feature1">

								<div class="row">
									<div class="4u">
										<section id="looking_for_contract">
											<span class="image image-full"><a href='/find.html'><img src="/static/img/search.jpg" alt="Looking for a contract?" /></a></span>
											<header class="second fa fa-search">
												<h3>Looking for a contract?</h3>
												<span class="byline">The search is powered by Recoll</span>
											</header>
										</section>
									</div>
									<div class="4u">
										<section>
											<span class="image image-full"><a href='/add.html'><img src="/static/img/add_contract.jpg" alt="Add a contract" /></a></span>
											<header class="second fa fa-cloud-upload">
												<h3>Go on, add a contract</h3>
												<span class="byline">Got a fully executed PDF?</span>
											</header>
										</section>
									</div>
									<div class="4u">
										<section>
											<span class="image image-full"><a href='/help.html'><img src="/static/img/need_help.jpg" alt="Need help?" /></a></span>
											<header class="second fa fa-question">
												<h3>Need help?</h3>
												<span class="byline">Some help with the query language?</span>
											</header>
										</section>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<p>CoMeMa - Contract Metadata Manager is a web interface for a git managed directory which contains all the SUSE relevant fully executed contracts I could find. Rather than storing metadata (such as effective and termination dates) in a separate database, CoMeMa takes a different approach by embedding the metadata in the PDF files.</p>
									</div>
								</div>
							</section>

					</div>
				</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
